body {
    margin: 0;
    padding: 0;
    background-color: black
  }
  .navigationBar {
    background-color: black;
    height: 10vw;
    border: 5px solid yellow;
    display: flex;
    justify-content: space-between;
  }
  
  .logo-img {
    height: 10vw;
  }
  
  .burgerMenu {
    height: 10vw;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 300px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    right: 0;
    z-index: 1000;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    font-size: 2em;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {
    background-color: #ddd;
  }

  .contactus{
      padding: 2em 5em;
      color: white;
  }
  .contactus-header-text{
      text-align: center;
      color: white;
  }

  .contactus-form-detail-group{
    font-size: 2em;
    display: flex;
    justify-content: center;
  }

  .contactus-form-detail-group input{
    margin: auto 1em;
    height: 2em;
  }


  .contactus-form-detail-group .radioButton{
      font-size: .5em;
      margin: auto 1em;
    height: 2em;
  }

  .submitBtnContainer{
      text-align: center;
      margin-top: 3em;
}
  .submitBtn{
      text-decoration: none;
      background-color: yellow;
      font-size: 2em;
      border: none;
      border-radius: 10px;
      padding: .5em 1em;
      font-weight: bold;
  }

  .home-footer {
    height: 5vw;
    border: 5px solid yellow;
    background-color: black;
    color:white
  }
  
  .home-footer-copyright{
   text-align: center;
  }
  
  @media only screen and (max-width: 1400px) {
  }
  
  @media only screen and (max-width: 1080px) {
  }
  
  @media only screen and (max-width: 969px) {

    .navigationBar {
      background-color: black;
      height: 20vw;
      border: 5px solid yellow;
      display: flex;
      justify-content: space-between;
    }
  
    .logo-img {
      height: 20vw;
    }
  
    .burgerMenu {
      height: 20vw;
    }
  
  }
  
  @media only screen and (max-width: 600px) {
    .navigationBar {
      background-color: black;
      height: 20vw;
      border: 5px solid yellow;
      display: flex;
      justify-content: space-between;
    }
  
    .logo-img {
      height: 20vw;
    }
  
    .burgerMenu {
      height: 20vw;
    }
  }
  